<!DOCTYPE html>
<html>

<head>
    <title>corona course</title>
    <meta charset="utf-8">
    <meta name="Description" content="How can we protect others and ourselves ">
    <link rel="stylesheet" href="stylesheets/doctor.css">
    <link rel="shortcut icon" href="/imgs/icon1.png" type="image/x-icon" />
</head>
<div class="header">
    <ul>
        <li><a href="/"><img src="/imgs/icon1.png"></a><a class="home" href="/">corona course</a></li>

        <div class="links">
            <li><a href="/">Home</a></li>

            <li><a href="/dashboard">dashboard </a></li>

            {{#if userName}}
            <li> <a id="l" href="/profile">{{userName}}</a></li>
            <li> <a href="/logout"><img style="width: 30px; height: 30px; margin-left: 8px;" src="imgs/arrow.svg"></a></li>
            {{else}}
            <li><a id="l" href="/login">login</a></li>
            {{/if}}

        </div>
    </ul>
</div>
<body>
    <div class="hed">
        <h2> OnLine Consultation</h2>
        <p id="p1"> You can reach a doctor anytime.. </p>
    </div>
    <div class="first">
        <img src="imgs/tarek.jpg" height="200px" width="220px">
        <p id="name">Dr/ Tarek Ahmed</p>
        <p> Fellowship in Internal Medicine</p>
        <p>Ph/ 01002587469</p>
    </div>
    <div class="first">
        <img src="imgs/fahd.jpg" height="200px" width="220px">
        <p id="name">Dr/ Fahd eldogry</p>
        <p>Holds a US medical license</p>
        <p>Ph/ 01002585749</p>
    </div>
    <div class="first">
        <img src="imgs/emad.jpg" height="200px" width="220px">
        <p id="name">Dr/ Emad Elrouby</p>
        <p>Faculty of Medicine,Kasr El-Ainy</p>
        <p>Ph/ 01148573214</p>
    </div>
    <div class="first">
        <img src="imgs/hanady.jpg" height="200px" width="225px">
        <p id="name">Dr/ Hanady Basha</p>
        <p>Bachelor of Medicine and Surgery</p>
        <p>Ph/ 010478965214</p>
    </div>
    <div class="first">
        <img src="imgs/ehab.jpg" height="200px" width="220px">
        <p id="name">Dr/ Ehab Elesemy</p>
        <p>Damascus Faculty of Medicine.</p>
        <p>Ph/ 012547412563</p>
    </div>
    <div class="first">
        <img src="imgs/khaled.jpg" height="200px" width="220px">
        <p id="name">Dr/ Khaled shahrany</p>
        <p>Internal,Rheumatology Medicine</p>
        <p>Ph/ 010154785263</p>
    </div>
    <div class="first">
        <img src="imgs/Hisham.png" height="200px" width="220px">
        <p id="name">Dr/ Hisham Mehna</p>
        <p> professor of Surgery</p>
        <p>Ph/ 010011452758</p>
    </div>
    <div class="first">
        <img src="imgs/sameh.jpg" height="200px" width="220px">
        <p id="name">Dr/ Sameh Amin</p>
        <p> professor of Surgery</p>
        <p>Ph/ 010124785639</p>
    </div>
    <div class="first">
        <img src="imgs/mahmod.jpg" height="200px" width="220px">
        <p id="name">Dr/ Mahmoud Moustafa</p>
        <p> Bachelor of Mansoura University</p>
        <p>Ph/ 01006520579</p>
    </div>

    <div class="footer" id="foo-link">
        <div class="footer_icon">
            <a href="/">
                <img src="imgs/icon1.png"><br>
            </a>
        </div>
        <div class="list">
            <span>&#x2630 Terminology</span>
            <ul>
                <li>  <a href="/protection">protection</a>  </li>
                <li>  <a href="/medicine">medicine</a>  </li>
                <li>  <a href="/doctors">doctors</a>  </li>
            </ul>

        </div>
        <div class="list">
            <span>&#x260E Contact</span><br />
            <a target="_blank" href="https://www.instagram.com/hoso_mazro3/">
                <img src="imgs/instagram.svg">
            </a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100004294773971">
                <img src="imgs/facebook.svg">
            </a>
            <a target="_blank" href="https://twitter.com/hossammazroa">
                <img src="imgs/twitter.svg">
            </a><br />
            <a target="_blank" href="https://www.linkedin.com/in/hossam-ahmed-0b5a95186/">
                <img src="imgs/linkedin.svg">
            </a>
            <a target="_blank" href="https://github.com/hossammazro3910">
                <img src="imgs/github.svg">
            </a>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm#inbox">
                <img src="imgs/google-plus.svg">
            </a>

        </div>
        <div class="list">
            <span>&#x2726 Help</span><br />
            <textarea></textarea><br />
            <button onclick="window.location.href='/doctors'"> send </button>
        </div>
        <div class="list">
            <span>&#x2139  About </span><br />

            <p style="color: #0000FF; margin:0 0;">This site provides medical information about the kurna pandemic and how to deal with it if you become infected and take the required precautions to avoid catching it</p>
        </div>




        <div class="footer_icon">
            <h4>&copy copyright 2021. All Rights Reserved.</h4>
        </div>
    </div>


</body>
</html>