<!DOCTYPE html>
<html>
<head>
    <title>coronaCourse</title>
    <meta charset="utf-8">
    <meta name="Description" content="this is my coronaCourse lofin form">
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="shortcut icon" href="/imgs/icon1.png" type="image/x-icon" />

</head>
<div class="header">
    <ul>
        <li><a href="/"><img src="/imgs/icon1.png"></a><a class="home" href="/">corona course</a></li>

        <div class="links">
            <li><a href="/">Home</a></li>

            <li><a href="/dashboard">dashboard </a></li>

            {{#if userName}}
            <li> <a id="l" href="">{{userName}}</a></li>
            <li> <a href="/logout"><img style="width: 30px; height: 30px; margin-left: 8px;" src="imgs/arrow.svg"></a></li>
            {{else}}
            <li><a id="l" href="/login">login</a></li>
            {{/if}}

        </div>
    </ul>
</div>

<body>

    <div class="container" name="container">
        <div class="login" name="login">
            <form action="update" method="get">
                <label class="covid">corona course</label> <br> <br>
                <div class="Plogo"> <img src="imgs/boy.svg"></div>
                <label class="userInfo">User Name </label> <br>
                <span class="upInfo">{{userName}}</span>
                <label class="userInfo">Email </label> <br>
                <span class="upInfo">{{email}}</span>
                <input type="submit" class="login" value="update info" >
            </form>
        </div>

    </div>

</body>

</html>
