<!DOCTYPE html>
<html>
<head>
    <title>corona course</title>
    <meta charset="utf-8">
    <meta name="Description" content="How can we protect others and ourselves ">
    <link rel="stylesheet" href="stylesheets/protection.css">
    <link rel="shortcut icon" href="/imgs/icon1.png" type="image/x-icon" />
</head>
<div class="header">
<ul>
    <li><a href="/"><img src="/imgs/icon1.png"></a><a class="home" href="/">corona course</a></li>

    <div class="links">
        <li><a href="/">Home</a></li>

        <li><a href="dashboard">dashboard </a></li>

        {{#if userName}}
        <li> <a href="/profile">{{userName}}</a></li>
        <li> <a href="/logout"><img style="width: 30px; height: 30px; margin-left: 8px;" src="imgs/arrow.svg"></a></li>
        {{else}}
        <li><a  href="/login">login</a></li>
        {{/if}}

    </div>
</ul>
</div>
<body>


    <div class="first">
        <h1>Infection methods </h1>
        <p class=" line">
            Coronavirus is transmitted in ways that we must all avoid and must be prohibited,
            and prevented from being infected. In
            order to avoid it, we must know it first.
        </p>
        <a href="#first-link"> KNOW MORE </a>
    </div>
    <div class="first">
        <h1>prevention methods </h1>
        <p class=" line">
            The health organization is interested in educating
            all people about the Corona virus,
            and this is also our role,
            so we will show you the most important preventive measures that you need to take.
        </p>
        <a href="#second-link"> KNOW MORE </a>
    </div>

    <div class="infection">
        <div id="first-link">
            <p class="inf">Infection methods </p>

        </div>
        <p class="word">
            One of the most important ways to protect ourselves from the emerging corona virus
            is to know how it is transmitted from
            one person to another, and this will allow us to avoid it and thus protect
            ourselves and those around us from infection
            with the virus...
        </p>


        <div class="pic">
            <img src="imgs/1.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Approaching a sick person and mixing of breathing directly leads to injury.</p>
        </div>
        <div class="pic">
            <img src="imgs/4.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Touching surfaces and doors without a tissue or sterilization transmits the virus.</p>
        </div>
        <div class="pic">
            <img src="imgs/3.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Sneezing and coughing from the patient results in transmission of the virus.</p>
        </div>
        <div class="pic">
            <img src="imgs/5.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Touching the face aims to virus transmission to the nose and respiratory system.</p>
        </div>
        <div class="pic">
            <img src="imgs/2.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> The virus is transmitted by shaking hands, it stays on the hands for a while.</p>
        </div>
        <div class="pic">
            <img src="imgs/6.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Gatherings anywhere are a great environment for the virus to spread among people.</p>
        </div>



    </div>

    <div class="prevention">
        <div id="second-link">
            <p class="inf">Prevention methods </p>
        </div>
        <p class="word">
            The World Health Organization has published a set of guidelines and steps to prevent the further spread of the
            Coronavirus,
            and everyone must adhere to them to protect himself and those around him from contracting
            the disease. so awareness of these instructions must be made....
        </p>
        <div class="pic">
            <img src="imgs/p1.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec">Hand washing periodically for a period of not less than 20 seconds, especially after contact with people.</p>
        </div>
        <div class="pic">
            <img src="imgs/p2.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> When dealing with another person, it's prefer to leaving a distance between one meter and 6 meters.</p>
        </div>
        <div class="pic">
            <img src="imgs/p3.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Drinking warm water and fluids helps clear the throat and respiratory system from viruses.</p>
        </div>
        <div class="pic">
            <img src="imgs/p4.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec">Avoid touching the face and eyes to prevent transmission of infection to the nose and respiratory system.</p>
        </div>
        <div class="pic">
            <img src="imgs/p5.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec">The necessity to wear a medical mask to prevent the reception or spread of viruses when dealing directly.</p>
        </div>
        <div class="pic">
            <img src="imgs/p6.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Surfaces must be disinfected with alcohol and chlorine because heavy virus particles fall on them.</p>
        </div>
        <div class="pic">
            <img src="imgs/p7.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec"> Always use alcohol to disinfect hands and surfaces before touching them to avoid catching the virus from them.</p>
        </div>
        <div class="pic">
            <img src="imgs/p8.jpg" height="150px" width="220 px " class="first_infec">
            <p class="f_infec">
                Staying at home and not going out unless necessary to prevent gatherings and protect ourselves from the
                virus.
            </p>
        </div>
    </div>

    <div class="footer" id="foo-link">
        <div class="footer_icon">
            <a href="/">
                <img src="imgs/icon1.png"><br>
            </a>
        </div>
        <div class="list">
            <span>&#x2630 Terminology</span>
            <ul>
                <li>  <a href="/protection">protection</a>  </li>
                <li>  <a href="/medicine">medicine</a>  </li>
                <li>  <a href="/doctors">doctors</a>  </li>
            </ul>

        </div>
        <div class="list">
            <span>&#x260E Contact</span><br />
            <a target="_blank" href="https://www.instagram.com/hoso_mazro3/">
                <img src="imgs/instagram.svg">
            </a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100004294773971">
                <img src="imgs/facebook.svg">
            </a>
            <a target="_blank" href="https://twitter.com/hossammazroa">
                <img src="imgs/twitter.svg">
            </a><br />
            <a target="_blank" href="https://www.linkedin.com/in/hossam-ahmed-0b5a95186/">
                <img src="imgs/linkedin.svg">
            </a>
            <a target="_blank" href="https://github.com/hossammazro3910">
                <img src="imgs/github.svg">
            </a>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm#inbox">
                <img src="imgs/google-plus.svg">
            </a>

        </div>
        <div class="list">
            <span>&#x2726 Help</span><br />
            <textarea></textarea><br />
            <button onclick="window.location.href='/protection'"> send </button>
        </div>
        <div class="list">
            <span>&#x2139  About </span><br />

            <p style="color: #0000FF; margin:0 0;">This site provides medical information about the kurna pandemic and how to deal with it if you become infected and take the required precautions to avoid catching it</p>
        </div>




        <div class="footer_icon">
            <h4>&copy copyright 2021. All Rights Reserved.</h4>
        </div>
    </div>





</body>
</html>